#include <iostream>
#include "Dtype.hpp"
#include "Device.hpp"
#include "tensor.hpp"

template <typename T>
void print_data(std::ostream& os, const uint8_t* data, size_t dim, const std::vector<int64_t>& shape, size_t& offset) {
    const T* ptr = reinterpret_cast<const T*>(data);

    os <<"[";
    if (dim == shape.size() - 1) {
        for (size_t i = 0; i < shape[dim]; i++) {
            if (i) os <<", " <<std::endl;
            os <<ptr[offset++];
        }
    }
    else {
        for (size_t i = 0; i < shape[dim]; i++) {
            if(i) os <<", " <<std::endl;
            print_data<T>(os, data, dim + 1, shape, offset);
        }
    }
    std::cout<<"]";
}

std::ostream& operator<<(std::ostream& os, const at::Tensor& tensor) {
    auto dtype = tensor.get_dtype();
    auto device = tensor.get_device();

    auto* data = tensor.data();
    auto shape = tensor.get_size();
    auto storage_offset = tensor.get_storage_offset();

    os <<"tensor(";
    switch(dtype) {
        {% for dtype in dtypes %}
        case cpp20::Dtype::{{ dtype.name }}: {
            using type = cpp20::DtypeToCPPType<cpp20::Dtype::{{ dtype.name }}>::type;
            print_data<type>(os, data, 0, shape, storage_offset);
            break;
        }
        {% endfor %}
    }
    os <<"), dtype=" <<dtype <<" device=" <<device <<std::endl; 
    return os;
}
