#pragma once
#include "tensor.hpp"

{% for op in operators %}
{% for backend in backends %}
{% if backend == "XPU" %}
{% for dtype in dtypes %}
namespace xpu {
    void kernel_{{ op.name }}_{{ backend }}_{{ dtype }}(const at::Tensor&, const at::Tensor&, at::Tensor&);
}
inline at::Tensor {{ op.name }}_{{ backend }}_{{ dtype }}(const at::Tensor& a, const at::Tensor& b) {
    at::Tensor c;
    xpu::kernel_{{ op.name }}_{{ backend }}_{{ dtype }}(a, b, c);
    return c;
};

{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}
