#pragma once
#include "tensor.hpp"

{% for op in operators %}
{% for backend in backends %}
{% if backend == "xpu" %}
void {{ op.name }}_{{ backend|lower }}(const at::Tensor&, const at::Tensor&, at::Tensor&);
{% endif %}
{% endfor %}
{% endfor %}
