#include "dispatcher/register_kernel.hpp"
#include "dispatcher/_op.hpp"
#include "tensor.hpp"
#include "kernel/kernel.hpp"

{% for op in operators %}
{% for backend in backends %}
{% for dtype in dtypes %}
REGISTER_KERNEL(
    {{ op }},
    {{ backend }},
    {{ dtype.name }},
    {{ op }}_{{ backend }}_{{ dtype.name }}
);
{% endfor %}
{% endfor %}
{% endfor %}
